@media (max-width: 800px) {
    :root {
        font-size: 12px;
    }

    #logo {
        width:100px
    }
    
    header div {
        width: 70px;
        gap: 5px;
        padding: 6px;
    }

    header>div>img {
        width: 10px;
    }

    body {
        max-width: 97vw;
    }

    #hero-section h1 {
        font-size: 2rem;
        margin-bottom: 32px;
    }

    #search {
        gap: 4px;
        flex-direction: column;
        justify-items: center;
        margin: 16px auto;
        width: 90%;
    }

    #search>span {
        width: 100%
    }

    #search img {
        padding: 6px;
        float: left;
        border-radius: 8px 0 0 8px;
        width: 24px;
    }

    #search input {
        height: 24px;
        padding: 6px;
        width: 100%;
        min-width: 0;
    }

    #submit-btn {
        width: 100%;
    }

    #forecast {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 24px;
    }

    #forecast-container {
        display: grid;
        grid-template-rows: 160px 1.5fr .2fr 1.6fr;
        gap: 16px;
    }

    #metrics {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 8px;
    }

    #metrics>div {
        padding: 8px;
        border-radius: 8px;
    }

    #daily-forecast {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 8px;
    }

    #hourly-forecast-container::-webkit-scrollbar {
        width: 4px;
    }
}