@media (max-width: 768px) {
  :root {
    font-size: 12px;
  }

  #logo {
    width: 200px;
  }

  header div {
    width: 70px;
    gap: 5px;
    padding: 6px;
  }
  header > div > span {
    width: 70px;
    gap: 2px;
  }

  header > div > img {
    width: 10px;
  }
  header > div > div > div {
    gap: 4px;
  }

  #unit-selector-dropdown {
    bottom: -310px;
    left: -20px;
    gap: 8px;
    width: 150px;
    padding: 8px;
    z-index: 9999;
    font-size: 1rem;
  }

  .unit-option {
    padding: 4px;
  }

  .unit-option:hover {
    background-color: #2f2f49;
  }

  .unit-type {
    font-size: 0.8rem;
    font-weight: 2 00;
  }

  body {
    max-width: 80vw;
  }

  #hero-section h1 {
    font-size: 2rem;
    margin-bottom: 32px;
  }

  #search {
    gap: 4px;
    flex-direction: column;
    justify-items: center;
    margin: 16px auto;
    width: 90%;
  }

  #search-suggestions {
    top: 20px;
  }

  #search > span {
    width: 100%;
  }

  #search img {
    padding: 6px;
    float: left;
    border-radius: 8px 0 0 8px;
    width: 24px;
  }

  #search input {
    height: 24px;
    padding: 6px;
    width: 100%;
    min-width: 0;
  }

  #submit-btn {
    width: 100%;
  }

  #forecast {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
  }

  #forecast-container {
    display: grid;
    grid-template-rows: 240px 1fr 0.1fr 2fr;
    gap: 16px;
  }

  #today {
    background-image: url('/assets/images/bg-today-small.svg');
    background-size: cover;
  }

  #today h1 {
    font-size: 3.5rem;
  }

  #today h2 {
    font-size: 2rem;
  }
  #today h6 {
    font-size: 1rem;
  }

  #metrics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
  }

  #metrics > div {
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 8px;
    min-height: 80px;
  }

  #metrics > div > h5 {
    font-size: 0.8rem;
  }
  #metrics > div > h2 {
    font-size: 2rem;
  }

  #daily-forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
  }

  #daily-forecast > div > h5 {
    font-size: 1rem;
  }

  #daily-forecast > div > img {
    width: 32px;
  }

  #daily-forecast > div > div {
    font-size: 1.2rem;
  }

  #hourly-forecast-container::-webkit-scrollbar {
    width: 4px;
  }

  .hourly-forecast > img {
    width: 32px;
  }
  .hourly-forecast > span {
    font-size: 1.5rem;
  }
}
